html {
    margin: 0 !important;
}

#wpadminbar {
    display: none !important;
}

#navbarAdmin ul {
    gap: 20px;
}

#navbarAdmin ul li a {
    color: black !important;
}

#navbarAdmin ul li a:hover,
#navbarAdmin ul li a.active {
    color: #0d6efd !important;
}

#adminSearch input {
    border-radius: 15em 0 0 15em;
}

#adminSearch button {
    border-radius: 0 15em 15em 0;
}

.admin-body {
    background: whitesmoke;
    min-height: 100vh;
}

.row-prodotto {
    border: 1px solid lightgrey;
    border-radius: 10px;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
}

.azione-mc {
    padding: 0.375rem 0.5rem !important;
}

.azione-mc i {
    transition: .15s ease-in-out;
}

.azione-mc:hover i {
    color: white !important;
}

.p-price {
    color: green;
    font-size: 25px;
}
  
.p-code {
    font-weight: bold;
}

.p-categories {
    color: grey;
}

.p-code,
.p-title,
.p-price,
.p-categories {
    margin: 0;
}