html {
    margin: 0 !important;
}

#wpadminbar {
    display: none !important;
}

#navbarAdmin ul {
    gap: 20px;
}

#navbarAdmin ul li a {
    color: black !important;
}

#navbarAdmin ul li a:hover,
#navbarAdmin ul li a.active {
    color: #0d6efd !important;
}

#adminSearch input {
    border-radius: 15em 0 0 15em;
}

#adminSearch button {
    border-radius: 0 15em 15em 0;
}